## Objective: Get lists from two pandas dataframe column and find out which columns are same and not.

------
Reference: https://note.nkmk.me/python-list-common/

In [11]:
import pandas as pd

# Create a movie rating Dataframe with columns or indices
df1 = pd.DataFrame(columns=['FilmID', 'FilmName', 'Rating'], index=['a', 'b', 'c'])
df1.loc['a'] = [23, 'Dark Knight', 4.9]
df1.loc['b'] = [24, 'Intersteller', 5]
df1.loc['c'] = [25, 'Inception', 4.7]
display(df1)

# Create a movie rating Dataframe with columns or indices
# but one of column name is different from first one
df2 = pd.DataFrame(columns=['FilmID', 'FilmName', 'Star'], index=['a', 'b', 'c'])
df2.loc['a'] = [23, 'Dark Knight', 4.9]
df2.loc['b'] = [24, 'Intersteller', 5]
df2.loc['c'] = [25, 'Inception', 4.7]
display(df2)

  FilmID      FilmName Rating
a     23   Dark Knight    4.9
b     24  Intersteller      5
c     25     Inception    4.7

  FilmID      FilmName Star
a     23   Dark Knight  4.9
b     24  Intersteller    5
c     25     Inception  4.7

In [12]:
# either "DataFrame.columns.values.tolist()" or "DataFrame.columns.tolist()" works 
# but the former is faster
df1_col = df1.columns.values.tolist()
df2_col = df2.columns.values.tolist()
print(df1_col)
print(df2_col)

['FilmID', 'FilmName', 'Rating']
['FilmID', 'FilmName', 'Star']

In [13]:
diff = set(df1_col) ^ set(df2_col)
print(diff)

{'Star', 'Rating'}

In [14]:
#other way to do
all = df1_col + df2_col
print(all)

print(set(all))

all_only = [x for x in set(all) if all.count(x) == 1]
print(all_only)

['FilmID', 'FilmName', 'Rating', 'FilmID', 'FilmName', 'Star']
{'FilmID', 'FilmName', 'Star', 'Rating'}
['Star', 'Rating']

### It does work even when you want to investigate what columns were added to previous dataframe.

------

In [15]:
import pandas as pd

# Create a movie rating Dataframe with columns or indices
df1 = pd.DataFrame(columns=['FilmID', 'FilmName', 'Rating'], index=['a', 'b', 'c'])
df1.loc['a'] = [23, 'Dark Knight', 4.9]
df1.loc['b'] = [24, 'Intersteller', 5]
df1.loc['c'] = [25, 'Inception', 4.7]
display(df1)

# Create updated movie rating Dataframe with new column 'Ranking'
df2 = pd.DataFrame(columns=['FilmID', 'FilmName', 'Rating','Ranking'], index=['a', 'b', 'c'])
df2.loc['a'] = [23, 'Dark Knight', 4.9, 2]
df2.loc['b'] = [24, 'Intersteller', 5, 1]
df2.loc['c'] = [25, 'Inception', 4.7, 3]
display(df2)

  FilmID      FilmName Rating
a     23   Dark Knight    4.9
b     24  Intersteller      5
c     25     Inception    4.7

  FilmID      FilmName Rating Ranking
a     23   Dark Knight    4.9       2
b     24  Intersteller      5       1
c     25     Inception    4.7       3

In [16]:
# either "DataFrame.columns.values.tolist()" or "DataFrame.columns.tolist()" works 
# but the former is faster
df1_col = df1.columns.values.tolist()
df2_col = df2.columns.values.tolist()
print(df1_col)
print(df2_col)

['FilmID', 'FilmName', 'Rating']
['FilmID', 'FilmName', 'Rating', 'Ranking']

In [17]:
diff = set(df1_col) ^ set(df2_col)
print(diff)

{'Ranking'}

### You can also find out common column name

------

In [18]:
df1_col = df1.columns.values.tolist()
df2_col = df2.columns.values.tolist()
common = set(df1_col) & set(df2_col)
display(common)

{'FilmID', 'FilmName', 'Rating'}

### You can compare it by looking at columns name side by side

------

In [19]:
# Create a movie rating Dataframe with columns or indices
df1 = pd.DataFrame(columns=['FilmID', 'FilmName', 'Rating'], index=['a', 'b', 'c'])
df1.loc['a'] = [23, 'Dark Knight', 4.9]
df1.loc['b'] = [24, 'Intersteller', 5]
df1.loc['c'] = [25, 'Inception', 4.7]
display(df1)

# Create a movie rating Dataframe with columns or indices
# but each column name are slightly different from first one
df2 = pd.DataFrame(columns=['Film_ID', 'Film Name', 'Rating Star'], index=['a', 'b', 'c'])
df2.loc['a'] = [23, 'Dark Knight', 4.9]
df2.loc['b'] = [24, 'Intersteller', 5]
df2.loc['c'] = [25, 'Inception', 4.7]
display(df2)

  FilmID      FilmName Rating
a     23   Dark Knight    4.9
b     24  Intersteller      5
c     25     Inception    4.7

  Film_ID     Film Name Rating Star
a      23   Dark Knight         4.9
b      24  Intersteller           5
c      25     Inception         4.7

In [20]:
s1 = pd.Series(df1_col, name='X')
s2 = pd.Series(df2_col, name='Y')
compare_col = pd.concat([s1, s2], axis=1)
display(compare_col)

          X         Y
0    FilmID    FilmID
1  FilmName  FilmName
2    Rating    Rating
3       NaN   Ranking