In [24]:
import pandas as pd

#read excel
df_a = pd.read_excel('test061_df.xlsx', sheet_name='Sheet1')
df_a

,Id,Title,Release Date,Memo
0,1,Iron Man,39718,Serial value(Not formatted)
1,2,The Incredible Hulk,"June 8,2008",String value
2,3,Iron Man 2,2010-05-26 00:00:00,Short Date format
3,4,Thor,40699,"Custom format ""m""月""d""日"""""
4,5,Captain America: The First Avenger,2011-07-22 00:00:00,"Custom format ""d-mmm-yy"""

In this notebook, I will demonstrate how to format date value of excel file.

### Turn serial value (a five digit number) to Python Datetime

In [25]:
serial_value = int(df_a.iloc[0,2])
serial_value

39718

Reference: https://www.geeksforgeeks.org/python-convert-excel-serial-date-to-datetime/

In [26]:
import xlrd

In [27]:
python_date = xlrd.xldate_as_datetime(serial_value, 0)
python_date

datetime.datetime(2008, 9, 27, 0, 0)

In [28]:
pd.to_datetime(df_a['Release Date'], unit='d', origin='1899-12-30')

ValueError: '0                  39718
1            June 8,2008
2    2010-05-26 00:00:00
3                  40699
4    2011-07-22 00:00:00
Name: Release Date, dtype: object' is not compatible with origin='1899-12-30'; it must be numeric with a unit specified

In [8]:
from datetime import datetime, timedelta

m = df_a['Release Date'].astype(str).str.isdigit()

def from_excel_ordinal(ordinal: float, _epoch0=datetime(1899, 12, 31)) -> datetime:
    if ordinal >= 60:
        ordinal -= 1  # Excel leap year bug, 1900 is not a leap year!
    return (_epoch0 + timedelta(days=ordinal)).replace(microsecond=0)

df_a.loc[m, 'Release Date'] = \
df_a.loc[m, 'Release Date']\
  .astype(int)\
  .apply(from_excel_ordinal)

df_a['Release Date'] = pd.to_datetime(df_a['Release Date'], errors='coerce').dt.strftime('%B %d, %Y') #Using errors='coerce'. It will replace all non-numeric values with NaN. 
df_a['Release Date']

0    September 27, 2008
1         June 08, 2008
2          May 26, 2010
3         June 05, 2011
4         July 22, 2011
Name: Release Date, dtype: object