In [4]:
import pandas as pd

#read excel
df_a = pd.read_excel('test060_df.xlsx', sheet_name='Sheet1')
df_a

   Id                               Title     LeadingActor\t            Memo
0   1                            Iron Man  Robert Downey Jr.        No issue
1   2                 The Incredible Hulk                NaN      Empty cell
2   3                          Iron Man 2                          One space
3   4                                Thor                      Double spaces
4   5  Captain America: The First Avenger                 \n  One empty line

### Turn empty string value to NaN

Use replace method and regular expression to replace the value that matches certain criteria.
Reference for Regular expression(RegEx) -> https://www.w3schools.com/python/python_regex.asp

In [6]:
import numpy as np

df_a = df_a.replace(r'^\s*$', np.nan, regex=True)
df_a

   Id                               Title     LeadingActor\t            Memo
0   1                            Iron Man  Robert Downey Jr.        No issue
1   2                 The Incredible Hulk                NaN      Empty cell
2   3                          Iron Man 2                NaN       One space
3   4                                Thor                NaN   Double spaces
4   5  Captain America: The First Avenger                NaN  One empty line