### Creating DataFrame from list of lists.

In [9]:
# Import library
import pandas as pd
from IPython.display import display

list_of_lists = [[1, "Iron Man", "Robert Downey, Jr."], 
                  [2, "The Incredible Hulk", "Edward Norton"],
                  [3, "Iron Man 2", "Robert Downey Jr."],
                  [4, "Thor", "Chris Hemsworth"]]

# Create the pandas DataFrame
df_a = pd.DataFrame(list_of_lists, columns=["FilmID", "FilmName","MainActor"])

display(df_a)

   FilmID             FilmName           MainActor
0       1             Iron Man  Robert Downey, Jr.
1       2  The Incredible Hulk       Edward Norton
2       3           Iron Man 2   Robert Downey Jr.
3       4                 Thor     Chris Hemsworth

### Creating DataFrame from multiple lists.

In [10]:
# Import library
import pandas as pd
from IPython.display import display

# Create mutiple lists
Film_ID = [1, 2, 3, 4]
Film_name = ["Iron Man", "The Incredible Hulk", "Iron Man 2","Thor"]
Main_actor = ["Robert Downey Jr.", "Edward Norton", "Robert Downey Jr.", "Chris Hemsworth"]

# Converting mutiple lists into pandas Dataframe.
df_b = pd.DataFrame(list(zip(Film_ID, Film_name, Main_actor)),
                  columns=["FilmID", "FilmName","MainActor"])

display(df_b)

   FilmID             FilmName          MainActor
0       1             Iron Man  Robert Downey Jr.
1       2  The Incredible Hulk      Edward Norton
2       3           Iron Man 2  Robert Downey Jr.
3       4                 Thor    Chris Hemsworth

### Creating DataFrame from dictionary_of_lists.

In [11]:
# Import library
import pandas as pd
from IPython.display import display

# Create a dictionary of list
dictionary_of_lists = {
    "FilmID": [1, 2, 3, 4],
    "FilmName": ["Iron Man", "The Incredible Hulk", "Iron Man 2","Thor"], 
    "MainActor": ["Robert Downey Jr.", "Edward Norton", "Robert Downey Jr.", "Chris Hemsworth"]}
# Create the DataFrame
df_c = pd.DataFrame(dictionary_of_lists)
display(df_c)

   FilmID             FilmName          MainActor
0       1             Iron Man  Robert Downey Jr.
1       2  The Incredible Hulk      Edward Norton
2       3           Iron Man 2  Robert Downey Jr.
3       4                 Thor    Chris Hemsworth

### Create Dataframe with setting index

In [16]:
import pandas as pd
from IPython.display import display

# Create a movie rating Dataframe with setting index
df_d = pd.DataFrame(columns=["FilmID", "FilmName","ActorName"], index=['a', 'b', 'c','d'])
df_d.loc['a'] = [1, "Iron Man","Robert Downey Jr."] #Rober"s name should be counted as three pieces
df_d.loc['b'] = [2, "The Incredible Hulk", "Mark Ruffalo"]
df_d.loc['c'] = [3, "Iron Man 2", "Robert Downey Jr."]
df_d.loc['d'] = [4, "Thor", "Chris Hemsworth"]

display(df_d)

  FilmID             FilmName          ActorName
a      1             Iron Man  Robert Downey Jr.
b      2  The Incredible Hulk       Mark Ruffalo
c      3           Iron Man 2  Robert Downey Jr.
d      4                 Thor    Chris Hemsworth